body {
    margin: 0;
    padding: 0;
    background: #9babaf;
    color: #444444;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Arial;
    font-size: small;
    -webkit-text-size-adjust: none;
}