// brand colours
$blue:              #2AA9E0;
$lime:              #D9E024;
$green:             #76A741;
$black:             #231F20;
$grey:              #666666;
$eLgrey:            #f0f0f0;
$offblack:          #111111;

$borderColour:      #cccccc;

body {
    margin: 0;
    padding: 0;
    background: #fafafa;
    color: $grey;
    font-family: 'signikaregular';
    font-size: small;
    -webkit-text-size-adjust: none;
    position: relative;
}

@import "mixins";
@import "fonts";

/* resets */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0 0 12px 0;
    line-height: 130%;
    -webkit-font-smoothing: antialiased;
}

.cboth { clear: both; }
.cleft { clear: left; }
img { border: none; }
* { outline: none; }

.desktop {
    .telephone {
        cursor: text !important;

        &:hover {
            text-decoration: none !important;
            color: $grey !important;
        }
    }
}

.status-bar {
    position: fixed;
    width: 100%;
    padding: 7px 0;
    background: #ecebeb;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.30);
    -moz-box-shadow:    0px 2px 10px 0px rgba(50, 50, 50, 0.30);
    box-shadow:         0px 2px 10px 0px rgba(50, 50, 50, 0.30);

    .order {
        float: left;

        .percentage {
            display: inline-block;
            width: 170px;
            height: 7px;
            margin: 0 10px;
            background: #ffffff;

            .bar {
                width: 0;
                height: 7px;
                background: $blue;
                display: block;
            }
        }

        .title {
            border: none !important;
        }
    }

    .auxiliary-navigation {
        float: right;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            float: left;
            padding-left: 12px;

            a {
                text-decoration: none;
                white-space: nowrap;
                color: $grey;

                &:hover {
                    color: $black;
                }

                .fa {
                    color: #76a741;
                    margin-right: 1px;
                }
            }
        }
    }
}

.header {
    width: 100%;
    padding: 60px 0 15px 0;
    background-color: #ffffff;

    h1 {
        margin: 0 auto;
        padding: 0;
        width: 220px;
        height: 137px;

        a {
            text-indent: -9000px;
            background: url("../images/logo.jpg") 0 0 no-repeat;
            width: 220px;
            height: 137px;
            display: block;

            /*CSS for serving the retina image to devices with a high "device-pixel-ratio":*/
            @media only screen and (-moz-min-device-pixel-ratio: 1.5),
            only screen and (-o-min-device-pixel-ratio: 3/2),
            only screen and (-webkit-min-device-pixel-ratio: 1.5),
            only screen and (min-devicepixel-ratio: 1.5),
            only screen and (min-resolution: 1.5dppx) {
                a {
                    background-image: url("../images/logo@2x.jpg");
                    width: 220px;
                    height: 137px;
                    background-size: cover;
                }
            }
        }
    }
}

.main {
    background-color: #ffffff;

    .carousel {
        width: 760px;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    .content {
        padding-bottom: 35px;

        .introduction {
            text-align: center;
            font-size: 1.7em;
            padding-bottom: 35px;
        }

        .entry-points {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            width: 760px;
            overflow: hidden;

            li {
                float: left;
                width: 254px;
                text-align: center;
                border-right: 1px solid $green;
                border-left: 1px solid $green;
                box-sizing: border-box;
                padding-bottom: 10000px;
                margin-bottom: -10000px;

                &.last-li,
                &.first-li {
                    border: none;
                    width: 252px;
                }

                a {
                    display: block;
                    text-decoration: none;
                    color: $grey;
                    padding: 5px 0;

                    span {
                        display: block;
                        padding: 0 20px 6px 20px;

                        &.icon {
                            font-size: 3.0em;
                            color: $blue;
                            padding-bottom: 3px;
                        }

                        &.title {
                            font-size: 1.4em;
                            color: $blue;
                        }

                        &.intro {
                            font-size: 0.9em;
                        }
                    }

                    &:hover {
                        color: $black;
                    }
                }
            }
        }
    }
}

.content {
    width: 882px;
    margin: 0 auto;

    .introduction {
        text-align: center;
        font-size: 1.7em;
        padding-bottom: 35px;
    }
}

label {
    font-size: 1.1em;
    display: inline-block;
    vertical-align: middle;
}

.input {
    border: 1px solid $borderColour;
    @include border-radius(4px);
    padding: 6px 8px;
    font-size: 1.0em;
    font-family: 'signikalight';
    -webkit-appearance: none;
    width: 200px;
    box-sizing: border-box;
}

select {
    border: 1px solid $borderColour;
    @include border-radius(3px);
    padding: 6px 8px;
    font-size: 1.0em;
    font-family: 'signikalight';
    -webkit-appearance: none;
    background: url("../images/bg-select.jpg") right 5px no-repeat #ffffff;

    &.select {
        width: 200px;
        box-sizing: border-box;
    }
}

textarea {
    height: 120px;
    resize: none;
}

.new-team {
    color: $eLgrey;
}

.button {
    -webkit-appearance: none;
    @include border-radius(3px);
    padding: 6px 10px 6px 7px;
    font-size: 1.0em;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    background-color: $green;
    @include transitions();
    font-family: 'signikaregular';
    text-transform: uppercase;
    border: 1px solid $green;

    &.back-button {
        font-size: 0.9em;
    }

    &:hover {
        background-color: #ffffff;
        color: $black;
        @include transitions();
    }

    &.white-button {
        background-color: #ecebeb;
        border: 1px solid #f2f2f2;
        color: $black;

        &:hover {
            background-color: #ffffff;
            border: 1px solid #cccccc;
        }
    }

    &.disabled-button {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        color: $black;
        cursor: default;

        &:hover {
            background-color: #ffffff;
            border: 1px solid #cccccc;
        }
    }

    &.yellow-button {
        background-color: $lime;
        border: 1px solid $lime;
        color: $black;

        &:hover {
            background-color: #ffffff;
        }
    }

    &.standalone-button {
        display: block;
    }
}

.last-element {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: none !important;
}

.helpers {
    padding-top: 30px;
    padding-left: 140px;

    a {
        display: block;
    }
}

.page {

    .main {
        .content {
            padding-top: 20px;
        }
    }

    .title {
        border-bottom: 1px solid $borderColour;
        margin-bottom: 15px;

        .button {
            float: right;
        }

        h2 {
            float: left;
        }
    }

    .divider {
        border-bottom:  1px solid #e8e8e8;
        height: 2px;
        width: 100%;
    }

    .form-heading {
        width: 340px;
        margin: 0 auto 10px auto;
    }

    .form-subheading {
        width: 340px;
        margin: 0 auto;
    }

    .like-form,
    .form {
        width: 340px;
        padding-bottom: 10px;
        margin: 0 auto 20px auto;

        .row {
            float: left;
            clear: left;
            padding-bottom: 15px;
            width: 100%;

            .like-label,
            label {
                float: left;
                padding-top: 5px;
                width: 140px;
                font-size: 1.1em;
                color: $offblack;
            }

            .select,
            .input {
                float: left;
            }

            .like-input {
                float: left;
                width: 200px;

                &.just-text {
                    padding-top: 6px;
                }

                label {
                    padding: 5px 15px 0 0;
                    width: auto;
                    cursor: pointer;

                    &.right {
                        padding-right: 0;
                    }
                }

                input {
                    float: left;
                    margin: 7px 5px 0 0;
                    display: inline-block;
                }

                &.block {

                    label {
                        float: none;
                        display: inline-block;
                    }
                }

                &.swatches {

                    label {
                        padding: 0 8px 4px 0;
                        width: auto;
                        cursor: pointer;
                    }

                    input {
                        margin: 5px 12px 0 6px;
                        display: none;
                    }
                }

            }

            .info {
                width: 200px;
                margin-left: 140px;
                float: left;
                text-align: left;
                padding-top: 4px;
                padding-bottom: 0;
            }

            &.button-row {
                .button {
                    margin-left: 140px;
                }
            }
        }
    }
}

.inner {

    .main {
        .content {
            width: 670px;
        }
    }

    .showcase {
        float: left;
        width: 268px;

        li {
            a {
                color: $green;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.selected {
                a {
                    font-weight: bold;
                    color: $black;
                    cursor: default;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .figure {
            display: block;
            font-weight: bold;
            font-family: 'signikabold';
            text-align: center;

            &.big {
                padding-top: 140px;
                font-size: 4.6em;
                padding-left: 10px;
            }

            &.small {
                padding-top: 90px;
                font-size: 2.0em;
                padding-left: 10px;

                &.left {
                    padding-right: 40px;
                    @include transitions();
                }

                &.right {
                    padding-left: 40px;
                    @include transitions();
                }
            }
        }

        .display {
            &.back {
                .small {
                    padding-top: 140px;

                }
                .big {
                    margin-top: -12px;
                    padding-top: 0;
                }
            }
        }

        ul {
            margin: 0;
            padding: 0 0 15px 15px;

            li {
                padding-bottom: 5px;
            }
        }

        p {
            a {
                color: $green;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .standalone-button {
            display: inline-block;
            margin-bottom: 12px;
        }
    }

    .like-form,
    .form {
        float: right;

        .chosen-name {
            font-size: 1.3em;
            line-height: 130%;
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .chosen-number {
            &.big {
                font-size: 2.5em;
                line-height: 100%;
                height: 32px;
                display: block;
            }
        }

        $tableHeader: #cfcfcf;
        $tableOdd: #f7f7f7;
        $tableEven: #ededed;

        .orders-list {
            width: 340px;
            box-sizing: border-box;

            caption {
                text-align: left;
                padding-bottom: 10px;
                font-size: 1.2em;
            }

            th, td {
                padding: 10px 12px;
                vertical-align: top;
            }

            th {
                font-weight: normal;
                text-align: left;
                background: $tableHeader;
                color: #000000;
                text-overflow: ellipsis;
                width: 200px;
                white-space: nowrap;
                overflow: hidden;
            }

            td {
                cursor: pointer;
            }

            tr {
                td {
                    @include transition-background(0.1s);
                }

                &:hover {
                    td {
                        @include transition-background(0.1s);
                        color: #000000;
                        background: #ffffff;
                    }
                }
            }

            .odd {
                td {
                    background: $tableOdd;
                }
            }

            .even {
                td {
                    background: $tableEven;
                }
            }

            .empty-list {
                td {
                    cursor: default;
                    background: #ffffff;
                    color: $black;
                }

                &:hover {
                    color: $black;
                }
            }
        }

        .links {
            float: left;
            .button {
                margin-top: 12px;
                float: left;
            }
        }
    }

    span {
        &.colour {
            display: inline-block;
            width: 32px;
            height: 32px;
            @include border-radius(3px);
            cursor: pointer;
            border: 5px solid $eLgrey;
            @include transitions();

            &.selected {
                border-color: $green;
                @include transitions();
            }
        }
    }

    .summary {
        border-top: 1px solid $eLgrey;
        border-bottom: 1px solid $eLgrey;
        padding: 8px 0;

        .colour {
            width: 20px;
            height: 20px;
            cursor: default;
        }

        td,
        th {
            padding: 5px 0;
            text-align: left;
            font-weight: normal;
            vertical-align: top;
        }

        th {
            color: $black;
            width: 140px;
            box-sizing: border-box;
        }

        tr {
            &.odd {
                th, td {
                    background-color: $eLgrey;
                }
            }
        }

        &.cost {
            border: none;
            padding: 0;
            margin: 0;
            font-size: 1.1em;
            color: $black;

            td {
                text-align: right;
            }

            .total {
                th, td {
                    border-top: 1px solid $eLgrey;
                }
            }
        }
    }
}







#garment-display {
    width: 268px;
    height: 307px;
    border-bottom: 1px solid $green;
    margin-bottom: 15px;

    &.back {
        .front {
            display: none;
        }
    }

    &.front {
        .back {
            display: none;
        }
    }
}

.switch {
    padding-bottom: 15px;
    text-align: center;

    a {
        display: inline-block;

        color: #cccccc !important;
        border-color: #cccccc !important;
        width: 60px;
        text-align: center;
        background-color: #ffffff !important;

        &.selected {
            color: $green !important;
            border-color: $green !important;
            background-color: #ffffff !important;
            cursor: default;
        }

        &:hover {
            color: $green !important;
        }
    }
}


.footer {
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid $lime;
    -webkit-box-shadow: inset 0px 24px 30px -4px rgba(50, 50, 50, 0.05);
    -moz-box-shadow:    inset 0px 24px 30px -4px rgba(50, 50, 50, 0.05);
    box-shadow:         inset 0px 24px 30px -4px rgba(50, 50, 50, 0.05);

    .content {
        p {
            padding-bottom: 35px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            float: left;

            li {
                float: left;
                padding: 0 8px;
                border-right: 1px solid $grey;

                &.first-li {
                    padding-left: 0;
                }

                &.last-li {
                    padding-right: 0;
                    border-right: none;
                }

                a {
                    color: $grey;
                    text-decoration: none;
                    white-space: nowrap;

                    &:hover {
                        color: $black;
                    }

                    .fa {
                       color: $green;
                       margin-right: 1px;
                    }
                }
            }
            
            &.auxiliary-navigation {
                float: right;

                li {
                    padding-left: 12px;
                    padding-right: 0;
                    border: none;

                    a {
                        display: block;
                    }
                }
            }
        }
    }
}
















/* styles for responsive */
@media only screen and (max-width: 942px) {

    .main {

        .carousel {
            width: 724px;
        }

        .content {
            .entry-points {
                width: 724px;

                li {
                    width: 241px;

                    &.last-li,
                    &.first-li {
                        width: 239px;
                    }
                }
            }
        }
    }

    .content {
        width: 724px;
        margin: 0 auto;
    }

    .footer {
        .content {
            ul {
                &.company-details {
                    li {
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {

    .main {

        .carousel {
            width: 100%;
        }

        .content {
            .entry-points {
                width: 100%;
                padding: 0 20px;
                box-sizing: border-box;

                li {
                    width: 34%;
                    box-sizing: border-box;

                    &.last-li,
                    &.first-li {
                        width: 32%;
                    }
                }
            }
        }
    }

    .content {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 768px) {

    .status-bar {
        .auxiliary-navigation {
            li {
                padding-left: 6px;

                &.first-li {
                    padding-left: 0;
                }
            }
        }
    }

    .header {
        padding-top: 50px;

        h1 {
            text-align: center;
            height: auto;

            a {
                width: 120px;
                height: 75px;
                background-size: cover;
                display: inline-block;
            }
        }
    }

    .inner {

        .main {
            .content {
                width: 380px;
            }
        }

        .showcase {
            float: none;
            width: 100%;
            padding-bottom: 20px;
            margin: 0 auto;

            .display {
                margin: 0 auto;
            }
        }

        .like-form,
        .form {
            float: none;
        }
    }

    .main {
        .carousel {
            width: 100%;
        }

        .content {
            padding-bottom: 15px;

            .entry-points {
                margin: 0 auto;
                width: 100%;
                padding: 0;

                li {
                    width: 100% !important;
                    float: none;
                    border: none;
                    border-bottom: 1px solid $green !important;
                    padding-bottom: inherit;
                    margin-bottom: inherit;

                    &.last-li {
                        border-bottom: none !important;
                    }

                    a {
                        span {
                            &.intro {
                                font-size: 1.1em;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        padding: 15px 0 20px 0;

        .content {
            .copy {
                padding-bottom: 25px;
            }

            ul {
                &.auxiliary-navigation {
                    float:  none;
                    text-align: center;
                    padding-bottom: 15px;

                    li {
                        padding: 0 5px !important;
                        float: none;
                        display: inline;

                        a {
                            font-size: 1.0em;
                            display: inline;

                        }
                    }
                }
            }

            .company-details {
                text-align: center;
                float: none;

                li {
                    padding: 0 5px;
                    font-size: 1.1em !important;
                    float: none;
                    display: inline;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    .status-bar {
        .order {
            .percentage {
                width: 100px;
                margin: 0 5px;
            }
        }

        .auxiliary-navigation {
            li {
                padding-left: 8px;

                a {
                    font-size: 1.0em;

                    span {
                        display: none;
                    }
                }
            }
        }
    }

    .main {
        .content {
            .introduction {
                font-size: 1.2em;
                padding-bottom: 10px;
            }
        }
    }

    .footer {
        .content {

            .copy {
                display: none;
            }

            .company-details {
                text-align: center;

                li {
                    width: 100%;
                    box-sizing: border-box;
                    text-align: center;
                    padding-bottom: 5px;
                    font-size: 1.1em !important;
                    float: left;
                    border: none;

                }
            }
        }
    }

}

@media only screen and (max-width: 400px) {

    .page {

        .form-heading,
        .form-subheading {
            width: 100%;
        }

        .like-form,
        .form {
            width: 100%;

            .row {
                .like-label,
                label {
                    float: none;
                    padding-top: 0;
                    padding-bottom: 5px;
                    width: 100%;
                }

                .select,
                .input {
                    float: none;
                    width: 100%;
                }

                &.button-row {
                    .button {
                        margin: 0;
                        width: 100%;
                        text-align: left;

                        &.standalone-button {
                            width: auto;
                        }
                    }
                }

                .info {
                    width: 100%;
                    margin: 0;
                }

                .like-input {
                    width: 100%;

                    label {
                        float: left;
                    }

                }
            }

            .helpers {
                padding-top: 15px;
                padding-left: 0;
            }

            .orders-list {
                width: 100%;
            }

            .links {
                float: none;
                .button {
                    margin-top: 12px !important;
                    float: none;
                    display: block;
                    width: auto !important;
                }
            }
        }


        &.inner {

            .main {
                .content {
                    width: 100%;
                }
            }

            .showcase {
                padding-bottom: 5px;

                .standalone-button {
                    float: none;
                    display: block;

                    & + br {
                        display: none;
                    }
                }


            }

            .orders-list {
                .order-date {
                    display: none;
                }
            }
        }
    }

    .footer {
        .content {
            ul {
                &.auxiliary-navigation {
                    float:  none;
                    text-align: center;
                    padding-bottom: 15px;

                    li {
                        padding: 0 5px !important;
                        float: none;
                        display: inline;

                        a {
                            font-size: 0.8em;
                            display: inline;

                        }
                    }
                }
            }
        }
    }
}